@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    color:#E4E4E7;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 7px;
  /* height: 7px; Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #333;
  border-radius: 10px; /* Track color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #18181b; /* Thumb color */
  border-radius: 4px; 
  border-color:2px solid white;
  /* Optional: make the scrollbar thumb rounded */
   /* Optional: adds a bit of space around the thumb */
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #6556cd; /* Thumb color */
  border-radius: 4px; 
  
  /* Optional: make the scrollbar thumb rounded */
   /* Optional: adds a bit of space around the thumb */
}
/* Add this CSS to your main stylesheet */

.fade-enter {
  opacity: 0;
  transition: opacity 1s;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s;
}
.no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
